* {
    margin: 0;
    padding: 5px;
    
}
body{
    background-color: rgb(208, 200, 218);
    background-image: linear-gradient(to right, #6bb5d4 , rgb(12, 77, 55));
}

header {
    background-color: #85d4a8;
    border-radius: 10px;
}


.custom-btn {
    background-color: #99cce9;
}

.custom-btn:hover, .clear-btn:hover {
    background-color: #85d4a8;
}

.clear-btn {
    background-color: #6bb5d4;
}

.card {
    background-color: #85d4a8;
}

.col {
    background-color: #85cbd4;
    color: white;
    text-align: left;
    border-radius: 5px;
}

.history {
    width: 100%;
}