* {
    margin: 0;
    padding: 5px;
    
}
body{
    background-color: rgb(208, 200, 218);
    background-image: linear-gradient(to right, #333333 , rgb(7, 35, 46));
    color: white;
}

header {
    background-color: #578f70;
    border-radius: 10px;
}


.custom-btn {
    background-color: #99cce9;
}

.custom-btn:hover, .clear-btn:hover {
    background-color: #85d4a8;
}


.card {
    background-color: #578f70;
}

.col {
    background-color: #578f70;
    color: white;
    text-align: left;
    border-radius: 5px;
}